<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navContainer">
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfhTE-tHEzug7mjHarHcjfaZnWPvUoi9kWoSTZxQYlGUo0TiDK7LGW_A1kvzF8ouHc44Y&usqp=CAU" alt="Elon face"/>
        </div>
        <div class="menuNav">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
        </div>
    </nav>
    <div class="bodytext">
        <h1>GALLERY</h1>
        <div class="divDim">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg" alt="Elon Musk">
            <img src="https://heute-at-prod-images.imgix.net/2022/08/29/79a3ee06-f6b5-4326-8775-af99267f656b.jpeg?rect=0%2C44%2C4000%2C2000&w=1280&auto=format&ar=3:2&crop=faces,entropy&fit=crop" alt="Elon Musk smilng">
            <img src="https://cdn.benzinga.com/files/images/story/2022/06/14/elon_musk_spacex.jpg" alt="Elon rocket">
            <img src="https://media.vanityfair.com/photos/5a7b182c9b38580e8603ca4f/master/w_2560%2Cc_limit/elon-musk-showman-rocket.jpg" alt="Elon in front a rocket">
            <img src="https://image.cnbcfm.com/api/v1/image/106912884-1626705999709-gettyimages-1074387670-BORING_CO_TUNNEL.jpeg?v=1650592054" alt="Elon Boring Company">
            <img src="https://i.insider.com/5f05cb8df34d0536b4224869?width=1136&format=jpeg" alt="Tunnel & tesla">
            <img src="https://image.cnbcfm.com/api/v1/image/106912841-1626703093687-gettyimages-1074387814-AFP_1BP4IZ.jpeg?v=1626703230" alt="Tesla in a tunnel from Boring Company">
            <img src="https://s03.s3c.es/imag/_v0/770x420/e/e/1/elon-musk-6.jpg" alt="Elon with a flamethrower">
            <img src="https://cdn.motor1.com/images/mgl/oAEQL/s1/elon-musk-e-la-tesla-roadster.jpg" alt="Tesla car">
            <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/124D8/production/_109786947_gettyimages-1183832732-1.jpg" alt="Tesla Cybertruck">
            <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/09/11/15367029583917.jpg" alt="Tesla Model ¿3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Elon_Musk%27s_Tesla_Roadster_%2840110297852%29.jpg" alt="Tesla car in space">
        </div>
    </div>
</body>
</html>