<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>WORKS FROM ELON</title>
</head>
<body>
    <nav class="navContainer">
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfhTE-tHEzug7mjHarHcjfaZnWPvUoi9kWoSTZxQYlGUo0TiDK7LGW_A1kvzF8ouHc44Y&usqp=CAU" alt="Elon face"/>
        </div>
        <div class="menuNav">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
        </div>
    </nav>
    <div class="bodytext">
        <h1>WORKS FROM ELON</h1>
        <div class="divDim">
            <img src="https://media.gq.com/photos/57eac35d9228bbed3f6f4ee5/master/pass/elon-musk-is-a-rocket.jpg" alt="Elon Musk rocket">
            <img src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/02/ceo-tesla-elon-musk-1873949.jpg?itok=-X8lPpk8" alt="Elon Musk tesla">
        </div>
        <p>
            <strong>¿Cuáles fueron sus primeras empresas?</strong><br><br>
            Para hablar de los inicios reales de Elon Musk, nos tenemos que remontar a marzo de 1999. En este momento decide invertir 12 millones de dólares en X.com, una empresa financiera fundada con Ho (ingeniero que trabajó con él en Zip2). Al proyecto se sumarían también dos canadienses con experiencia financiera, pero que tras 5 meses abandonan la compañía. Al año siguiente X.com se fusiona con Confinity formando una empresa dedicada a servicios financieros de transferencias de dinero llamada PayPal. Elon Musk asume el cargo de CEO por ser accionista mayor y prevalece el nombre de X.com.
            <br><br>
            En junio de 2001, tras muchas batallas internas tratando de unificar criterios en cuanto a qué software utilizar (Linux o Microsoft), la empresa cambia su nombre a PayPal Inc. Para el año 2002 PayPal, que ya facturaba 240 millones de dólares, empieza a cotizar en la bolsa y recibe una oferta de compra de eBay a lo que Musk y Mortiz se opusieron. Ese mismo julio eBay finalmente compra PayPal por 1.500 millones.
            <br><br>
            <strong>¿Cuáles son las tres misiones principales de Elon Musk?</strong><br><br>
            Elon Musk desde que estaba en la universidad ha considerado que existen 3 áreas de exploración que deben ser desarrolladas como su misión principal; es evidente que a ellas está dedicando sus esfuerzos. Estas son: los avances tecnológicos e Internet, la conquista del espacio como medio de preservación de la raza humana (donde se ha puesto como meta llevar una nave tripulada a marte para el 2030) y el desarrollo de la energía renovable para dejar de lado los combustibles fósiles.
            <br><br>
            Seguramente por esta razón, desde los inicios de su carrera se ha enfocado en la creación de empresas de tecnología basadas en internet (Zip2, X.com o PayPal). SpaceX sería fundada en mayo 2002 con el objetivo de desarrollar la exploración espacial y posteriormente SolarCity y Tesla; empresas de las que es cofundador y principal accionista. Estas empresas priorizan el uso de la energía solar como medio para la conservación del medio ambiente, proveyendo energía para los hogares y desarrollando vehículos eléctricos.
            <br><br>
            <strong>¿Cuál es la fortuna de Elon Musk?</strong><br><br>
            En el 2002, con la venta de PayPal, Musk ganó un neto de 180 millones de dólares. Todo esta suma la invirtió inmediatamente en lo que ha considerado sus misiones principales. Así 100 millones fueron destinados para fundar SpaceX, 70 millones para Tesla Inc  y los 10 restantes para SolarCity; empresas que priorizan el medioambiente. Definitivamente este empresario sabe cómo producir dinero con visión de futuro y pensando en mejorar las condiciones de vida de toda la humanidad.
            <br><br>
            Elon Musk es considerado actualmente como el hombre más rico del mundo gracias a las acciones de Tesla Motors. Con una fortuna aproximada de 218.000 millones de dólares, Musk también ha sido considerado como el empresario más exitoso de 2021 a pesar de la situación mundial.
            <br><br>
            Aproximadamente 175.000 millones de dólares del patrimonio de Tesla lo generan el 17% del total de las participaciones de Tesla. En este sentido, la revalorización de estas en los últimos años es lo que le ha permitido hacerse con la primera posición en la lista de Forbes.
            <br><br>
            Además, Elon Musk recibe ingresos de las acciones de Space X y de otras empresas como Hyperloop, SolarCity, The Boring Company, Neuralink y OpenAI.
            <br><br>
            <strong>¿Es Tesla la única empresa de Elon Musk?</strong><br><br>
            Elon Musk siempre ha sido un muy prolífico empresario y con una gran visión del futuro. Todo empezó con Zip2, la primera empresa de tecnología creada con su hermano y que le aportó un buen ingreso por su venta. Luego con una parte de esa ganancia crea X.com y posteriormente PayPal cuya venta le provee del capital suficiente para fundar nuevos proyectos.
            <br><br>
            <strong>Sus empresas son:</strong>
            <br><br>
            <strong>SpaceX</strong><br><br>
            Con esta empresa Musk se incursiona en la exploración del espacio con cohetes reutilizables. Su objetivo es preservar la raza humana y llevar seres humanos a Marte como una salida a la sobrepoblación de la tierra.
            <br><br>
            <strong>Tesla Inc.</strong><br><br>
            Aquí Elon Musk acomete otra de sus metas principales: la preservación del medio ambiente mediante la fabricación de vehículos eléctricos. Todos los procesos, así como sus partes y componentes deben ser ecológicos, así como otros instrumentos capaces de generar y almacenar energía renovable.
            <br><br>
            <strong>SolarCity</strong><br><br>
            Es una compañía subsidiaria de Tesla Inc. Aunque fue fundada por los primos de Musk en 2006, este es su mayor inversionista. Se especializa en proveer servicios de energía solar para los hogares como una salida para contrarrestar el calentamiento global.
            <br><br>
            <strong>Hyperloop One</strong><br><br>
            Fundada en 2014 en Estados Unidos, su objetivo es comercializar una nueva tecnología de transporte de carga y/o pasajeros a velocidad similar a la de los aviones pero a un menor costo.
            <br><br>
            <strong>Open AI</strong><br><br>
            Es la primera incursión del Sr. Musk en el campo de la Inteligencia Artificial. Fundada en 2015, su objetivo es crear y desarrollar inteligencia artificial capaz de beneficiar a la humanidad en general de una forma amigable.
            <br><br>
            <strong>Neuralink</strong><br><br>
            Es uno de los más grandes proyectos de Elon Musk. Estudia cómo crear interfaces cerebro-ordenador de banda ancha. Es decir, cómo conectar a los humanos con su computadora a través de un chip implantado en el cerebro.
            <br><br>
            <strong>Boring Company</strong><br><br>
            Es una compañía dedicada a la excavación y la creación de infraestructuras. Su objetivo es revolucionar la industria de la excavación de túneles mejorando la velocidad del proceso con el fin de crear una red de túneles de forma económica.
            <br><br>
            <strong>Musk foundation</strong><br><br>
            A través de esta fundación Elon Musk ha logrado llevar ayuda a los sectores más necesitados del mundo. Ha realizado donaciones millonarias en sistemas de energía solar a las áreas más golpeadas por grandes desastres naturales.
            <br><br>
            <strong>¿Qué visión de futuro tiene?</strong><br><br>
            Elon Musk ha sido descrito muchas veces como un magnate, inventor, emprendedor y un gran visionario del futuro. Todos sus proyectos están muy lejos de ser algo común y corriente. Desde su proyecto de realizar viajes comerciales al espacio, combatir el calentamiento global o la preservación del medioambiente, hasta sus avanzados proyectos de inteligencia artificial con los que pretende ayudar a la humanidad a cumplir los sueños más atrevidos y futuristas desde hace 30 años.
            <br><br>
            Su visión comprende la preservación de la vida de la raza humana en un mundo distante como lo es el planeta Marte, donde se ha fijado como meta llevar al ser humano antes del 2030. Elon Musk considera necesario realizar cambios radicales en la industria y la forma de hacer las cosas con el fin de beneficiar a la humanidad. Los autos eléctricos y el mejor aprovechamiento de la energía solar son las metas que se ha planteado este empresario.
            <br><br>
            En definitiva, la visión de este emprendedor pasa por una serie de cambios de valor que revolucionarán la industria y la vida como la conocemos hoy en día. Viajes espaciales tripulados, inteligencia artificial que se encargará de hacer más fácil la vida de los seres humanos, así como la preservación del medio ambiente de diferentes maneras entre las cuales destaca el aprovechamiento y desarrollo de energías limpias, como la energía solar. Lo que sí está claro es que descarta definitivamente la utilización de los hidrocarburos como proveedores de energía.
        </p>
    </div>
</body>
</html>